<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styleMainPage.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="nav">
            <h1 class="title">INTER</h1>
            <a href="" id="name"><%= user.name %></a>
        </div>
    </header>
    <main>
        <div class="container">
            <h2>Saldo: <span><%= user.balance %></span></h2>
            <div class="buttonsOfTransitions">
                <a href="/sacar/<%= user._id%>" id="sacar">Sacar</a>
                <a href="/depositar/<%= user._id %>" id="depositar">Depositar</a>
            </div>
            <div class="deleteButton">
                <a href="/delete/<%= user._id %>?_method=delete" id="deletar">Deletar a conta</a>
            </div>
        </div>
    </main>
</body>
</html>